@charset "UTF-8";

/* サイト全体の設定 */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.inner{
    margin: 0 auto;
    width: 1000px;
}
.pc {
  display: block;
}
.fadein {
  opacity : 0;
  transform : translate(50px, 0);
  transition : all 1500ms;
}
.fadein.scrollin {
  opacity : 1;
  transform : translate(0, 0);
}
.wf-sawarabigothic { 
  font-family: "Sawarabi Gothic";
}
.alert {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

/* ページスクロールボタン */
.page-top{
  position:fixed;
  bottom:20px;
  right:40px;
  z-index: 100;
}
.page-top a{
  display: table-cell;
  vertical-align: middle;  
  width: 70px;
  height:70px;
  border-radius: 50%;
  background-color: #17a2b8;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-align: center;  
}

/* fv */
.menu{
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    z-index: 99;
}
.menu:hover {
  cursor: pointer;
}
.menu__line{
    background: #fff;
    display: block;
    height: 2px;
    position: absolute;
    transition:transform .3s;
    width: 100%;
}
.menu__line--center{
    top: 9px;
}
.menu__line--bottom{
    bottom: 0;
}
.menu__line--top.active{
    top: 8px;
    transform: rotate(45deg);
}
.menu__line--center.active{
    transform:scaleX(0);
}
.menu__line--bottom.active{
    bottom: 10px;
    transform: rotate(135deg);
}
.gnav{
    background: rgba(0,0,0,0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 98;
}
.gnav__wrap{
    align-items:center;
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
}
.gnav__menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
}
.gnav__menu__item{
    margin: 40px 0 40px 100px;
    opacity: 0;
}
.gnav__menu__item a{
    color: #fff;
    font-size: 1.7em;
    font-weight: bold;
    text-decoration: none;
    transition: .5s;
}
.gnav__menu__item a:hover{
    color: #666;
}
.fv{
    background:url(../img/fv.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
}
.fv h2 {
    font-size: 45px;
}
.fv a{
   color: #fff!important;
}
.parallax-window {
    min-height: 660px;
    background: transparent;
}
.animation-speed {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

/* about */
h1 {
  border-bottom: 1px solid #17a2b8;
  width: 450px;
  margin: 0 auto 20px;
}
.about_intro{
    background: #13171d!important;
}
.about_intro .card {
    background-color: transparent;
    border: 1px solid #fff;
}
.imgWrap {
	overflow: hidden;	/*拡大時にはみ出た部分を隠す*/
    width: 100%;	/*画像の幅*/
    background: #000;
}
.imgWrap img {
	display: block;
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}
.imgWrap img:hover {
	transform: scale(1.1);	/*画像の拡大率*/
    transition-duration: 0.3s;	/*変化に掛かる時間*/
    opacity: 0.6;
}
.about_gallary {
    background: #222831;
}
#slideshow {/*全体*/
    margin: 0 auto;
    height: 350px;
    width: 100%;
    box-sizing: border-box;
  }
   
  .entire-content {/*カルーセルの見栄え。perspectiveで奥行きを設定する*/
    margin: auto;
    width: 190px;
    perspective: 900px;
    position: relative;
    padding-top: 80px;
  }
   
  .content-carrousel {/*各画像を包括、アニメーションを設定*/
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 20s infinite linear;
    transform-style: preserve-3d;
  }
   
  .content-carrousel:hover {/*ホバーしたらアニメーションを停止してポインター表示*/
    animation-play-state: paused;
    cursor: pointer;
  }
   
  .content-carrousel figure {/*各画像設定*/
    width: 100%;
    height: 120px;
    border: 1px solid #3b444b;
    overflow: hidden;
    position: absolute;
  }
   
  /*個々の画像設定*/
  .content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
  }
  .content-carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
  }
  .content-carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
  }
  .content-carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
  }
  .content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
  }
  .content-carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
  }
  .content-carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
  }
  .content-carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
  }
  .content-carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
  }
  .content-carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(300px);
  }
   
  .shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
  }
   
  .content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
  }
   
  .content-carrousel img:hover {/*画像ホバーでズーム*/
    transform: scale(1.2);
    transition: all 300ms;
  }
   
  @keyframes rotar {/*カルーセルのアニメーション*/
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

/* teacher */
#teacher .bg-black {
  background: #13171d!important;
}
#teacher .bg-another-black {
  background: #222831;
}
#teacher .card {
  background: transparent!important;
  border: none;
}

/* price */
#schedule table td {
  height: 100px;
}
#price ul li {
  background: none;
  border-bottom: 1px solid #fff; 
}

/* form */
form {
  width: 600px;
  margin: 0 auto;
}

/* footer */
footer {
    background: #13171d!important;
}

/* ---------------------- スマホ -------------------------- */
@media screen and (max-width:768px) { 
/* サイト全体の設定 */
.inner{
  width: 100%!important;
  padding: 0 2.5%;
}

.pc {
  display: none;
}

.fadein {
  transform : translate(0, 0);
}

.alert {
width: 90%;
}

.page-top{
  right:10px;
}

/* fv */
.gnav__menu__item a{
  font-size: 1.3em;
}

.fv{
  background-position: 50% 0;
}
.fv h2 {
  font-size: 35px;
}
.parallax-window {
  min-height: 600px;
}
/* about */
h1 {
width: 100%;
}

.about_intro .card:first-child {
margin: 0 0 30px;
}

#slideshow {/*全体*/
  height: 280px;
}
 
/*個々の画像設定*/
.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(110px);
}
.content-carrousel figure:nth-child(2) {
  transform: rotateY(90deg) translateZ(110px);
}
.content-carrousel figure:nth-child(3) {
  transform: rotateY(180deg) translateZ(110px);
}
.content-carrousel figure:nth-child(4) {
  transform: rotateY(270deg) translateZ(110px);
}
.content-carrousel figure:nth-child(5) {
  transform: rotateY(360deg) translateZ(110px);
}

/* price */
#schedule table td {
height: 100px;
}

/* form */
form {
width: 100%;
}

}

